body{
    background-color:#0a192f;
}
header{
align-items: center;
}
.text-center, h1{
    color:#64ffda;
}

#pw{
    color:#ccd6f6;
}

.h2{
    color:#8892b0;
}

.card-container{
    background-color: #233554;
}
.card-container h3{
    color:#ccd6f6;
}

.card-container p{
    color:#8892b0;
}

.btn {
    color:#64ffda;
}
